<!DOCTYPE html>
<html lang="KO">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen and (min-width: 500px) and (max-width:800px)">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head> 
  <body>
    {% if user.username %}
    <div class ="container">
      <div class = "row">
        <h1 class="text-center text-danger">투표 시스템 사용법</h1>
        <div class ="bg-danger">
          <p class="text-center lead"><strong style="background : red;">※※※</strong> 각 학번마다 <mark style="background : red;">한번만</mark> 로그인이 가능 하므로 처음 로그인을 하고 후보자를 선택해야 합니다. 처음 로그인 후 후보자를 뽑지 않고 다시 로그인을 시도할 경우 로그인이 되지 않습니다.</p>
          <p class="text-center">1. 학번과 생년월일을 입력하고 로그인 버튼을 클릭합니다.</p>
          <p class="text-center">2. 후보자 리스트에서 투표할 후보자를 클릭하여 선택 버튼을 클릭합니다.</p>        
        </div>
      </div>
      <hr style="border: solid 1px red;">
      <div class="row">
        <h1 class="text-center text-danger">후보자 리스트</h1>
        <table id="example-table-3" width="100%" class="table table-bordered table-hover text-center">
          <thead style="background-color:red; color: white;">
              <th class="text-center">선택</th>
              <th class="text-center">기호</th>
              <th class="text-center">후보자 이름</th>
            
          </thead>
          <tbody id ="tbody1">
            <script type="text/javascript">
              var candidate = [];
              $(document).ready(function(){
                var xhr = new XMLHttpRequest();
                xhr.open('GET', 'http://210.110.180.44:3000/api/Candidate', true);
                xhr.send(null);

                xhr.onload = function() {
                  if(xhr.status == 200) {
                    console.log("200 ok");
                    var jsonText = xhr.responseText;
                    var contact = JSON.parse(jsonText);
                  
                    for(var i = 0; i < contact.length; i++) {
                      candidate.push(contact[i].can);
                    }
                    console.log(candidate);
                  }
                  var tbody2 = document.getElementById("tbody1");
                
                  for(var i =0; i <candidate.length; i++) {
                    tbody2.innerHTML +='<td><input type="radio" name="no" value=array[i]></td><td>'+ (i+1) +'</td><td>'+candidate[i]+'</td>';
                  }
                }
              });
            </script>
          </tbody>
        </table>
        <button type="button" class="btn btn-outline btn btn-danger pull-right btn-lg" id="selectBtn">선택</button>
        <div class="col-lg-12" id="ex3_Result1" ></div>
        <div class="col-lg-12" id="ex3_Result2" ></div>
      </div>
    </div>
    <script>
      $("#selectBtn").click(function(){
       
        var checkbox = $("input[name=no]:checked");
        var userid;
        // 체크된 체크박스 값을 가져온다
        checkbox.each(function(i) {

          // checkbox.parent() : checkbox의 부모는 <td>이다.
          // checkbox.parent().parent() : <td>의 부모이므로 <tr>이다.
          var tr = checkbox.parent().parent().eq(i);
          var td = tr.children();

          // 체크된 row의 모든 값을 배열에 담는다.
          // rowData.push(tr.text());

          // td.eq(0)은 체크박스 이므로  td.eq(1)의 값부터 가져온다.
          var no = td.eq(1).text()+", "
          userid = td.eq(2).text();

          // 가져온 값을 배열에 담는다.
          // tdArr.push(no);
          // tdArr.push(userid);
          console.log("no : " + no);
          console.log("userid : " + userid);
          //console.log("name : " + name);
          //console.log("email : " + email);
        });

        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://210.110.180.44:3000/api/Vote', true);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.send(JSON.stringify({
          "$class": "org.ioks.vote.Vote",
          "ballot": 1,
          "listing": "org.ioks.vote.CandidateListing#"+userid,
          "voter": "org.ioks.vote.Voter#"+'{{ user_id }}'
        }));
        xhr.onload = function() {
          if(xhr.status == 200) {
            console.log("200 ok");
          }
        }
    //  $("#ex3_Result1").html(" * 체크된 Row의 모든 데이터 = "+rowData);
    //  $("#ex3_Result2").html(tdArr);
      });

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
       <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
       <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    {% else %}
        <p>잘 못된 접근 입니다.</p>
    {% endif %}
  </body>
</html>
