<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" media="screen and (min-width: 500px) and (max-width:800px)">    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>학생 투표</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">        
        <h1 class ="text-center text-danger">투표 시스템 로그인</h1>
        <div class="col-xs-6 col-md-4"></div>
        <div class="col-xs-6 col-md-4">
          <form action="#" method="POST" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group"> 
              <label for="studentId" class="col-sm-4 control-label">학번</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="studentId" placeholder="학번 입력" required="" name="username" maxlength="10">
              </div>
            </div>
            <div class="form-group">       
              <label for="ssNumber" class="col-sm-4 control-label">비밀번호</label>
              <div class="col-sm-6">
                <input type="password" class="form-control" id="ssNumber" placeholder="생년월일 입력" maxlength="30" required="" name="password">
              </div>
            </div>
          
            <div class="col-xs-6"></div>
            <div class="form-group col-xs-6">
              <div class="col-offset-2 col-sm-10">
                <input type="submit" value="로그인" class="btn btn-danger btn-lg"/>
              </div>
          </form>
        </div>
        <div class="col-xs-6 col-md-4"></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
      </div>
    </div>  
  </div>
        
  </body>
</html>
