<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>login</h2>
<form method="post" action="">
    {% csrf_token %}
    <p><label for="id_username">Username:</label> <input type="text" name="username" maxlength="150" required="" id="id_username"></p>
    <p><label for="id_password">Password:</label> <input type="password" name="password" maxlength="128" required="" id="id_password"></p>
    <input type="submit" value="투표 시작" />
</form>

</body>
</html>